.firstview {
  height: 40rem;
  width: 100%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
}

body {
  /* background-color: #f5f1f1; */

  background-color: #09052d;
  background-attachment: fixed;
}

.desc {
  display: flex;
  flex-direction: column;
  /* width: 40rem; */
  height: 23rem;
  font-size: 1.5rem;

  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-inline: auto;
}

.name {
  font-size: 4rem;

  font-weight: bold;
  color: transparent;
  background-clip: text;

  -webkit-background-clip: text;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23FDFFFC' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23FDFFFC' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");

  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.desc p {
  margin-top: 6rem;
  width: 100vw;
  word-wrap: break-word;
  font-size: 25px;
  font-weight: bolder;
  /* width: 100%; */
  /* margin: 0 auto; */
  /* margin-inline: auto; */
  color: white;
  height: min-content;
  max-width: 90%;
}

.text {
  max-width: 80vw;
}

.short {
  text-align: center;
}

/* .short {


    border-radius: 30px;
    background: #0c072e;
    box-shadow: 15px 15px 30px rgb(18, 9, 100),
                -15px -15px 30px rgb(8, 18, 71);
   } */
.getResume {
  margin-top: 6rem;
}

.getResume,
.getResume::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.getResume::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Get Resume";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.getResume:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

/* button:focus::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
} */

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.nav {
  color: white;
  margin-top: 2rem;
}

.nav ul li {
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.nav ul li:hover {
  font-size: 1.6em;
}

.nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

.resume {
  color: white;
  font-size: 10rem;
}
.Link {
  list-style: none;
  text-decoration: none;
  /* color: white; */
  color: inherit;
}
.Link:hover {
  text-decoration: none;
  color: inherit;
}

.voltage-button {
  position: relative;
}

.voltage-button button {
  background-color: transparent;
  border: none;

  padding: 1rem 3rem 1rem 3rem;
  border-radius: 5rem;

  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-button button:hover {
  cursor: pointer;
}

.voltage-button button:hover + svg,
.voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;

  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}
